@model SSIMS.Models.DisbursementList

@{
    ViewBag.Header = "Disbursement Details";
    ViewBag.Section = "Disbursements";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<style>
    #top-bar button {
        float: left;
        margin-right: 50px;
        width: 200px;
        height: 40px;
        font-size: 15px;
        font-weight: bold;
        color: white;
        background-color: #437373;
    }
    #top-bar{
        width:100%;
        height:50px;
        margin: 5px 0px;
    }
</style>

<div id="top-bar">
    <div>
        <button onclick="window.location.href = '/Retrieval/Index';">Back</button>
    </div>
    <div style="float:right">
        @Html.ActionLink("Print", "Print", new { id = Model.ID })
        <button type="button" id=@Model.ID style="margin-right:0px">Print</button>
    </div>
</div>


<div>

    <hr />
    <dl class="dl-horizontal">

        <dt>
            Disbursement ID
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>

        <dt>
            Request Department
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.ID)
        </dd>

        <dt>
            Delivered by
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedByStaff.Name)
        </dd>
    </dl>
    <div class="table-responsive">
        <table class="table">

            <tr>
                <th>No.</th>
                <th>Item Code</th>
                <th>Item Description</th>
                <th>Request Qty</th>
                <th>Collected Qty</th>
            </tr>
            @{
                int count = 0;
            }
            @foreach (var transItem in Model.ItemTransactions)
            {
                count++;
                <tr>
                    <td>@count</td>
                    <td>@Html.DisplayFor(model => transItem.Item.ID)</td>
                    <td>@Html.DisplayFor(model => transItem.Item.Description)</td>
                    <td>@Html.DisplayFor(model => transItem.HandOverQty)</td>
                    <td>@Html.DisplayFor(model => transItem.TakeOverQty)</td>
                </tr>
            }

        </table>
        <br />
        <dl class="dl-horizontal">

            <dt>
                Status
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>

            <dt>
                Signed By
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RepliedByStaff.Name)
            </dd>

            <dt>
                Date
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ResponseDate)
            </dd>
        </dl>
    </div>


</div>

