@model List<SSIMS.ViewModels.DeptDisbursementViewModel>

@using PagedList.Mvc;
@using SSIMS.ViewModels;
@{
    ViewBag.Title = "Disbursement";
    ViewBag.Header = "Disbursement";
    ViewBag.Section = "Disbursements";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<script>

    function hide(index) {
        console.log(index);
        var element = document.getElementById(i);
        var isHidden = element.hidden;
        if (isHidden) {
            element.hidden = false;

        } else {
            element.hidden = true;
        }
    }
</script>
<div class="table-responsive">

    <table class="table">
        <tr>
            <th>Department</th>
            <th>Status</th>
            <th>View Details</th>
        </tr>

        @foreach (var deptdvm in Model)
        {
            for (int i = 0; i < Model.Count; i++)
            {
                string index = "item" + (i + 1).ToString();

                <tr>
                    <td>
                        <span onclick=hide("@index")>+</span>
                        @Html.DisplayNameFor(model => model[i].deptID)
                        @Html.HiddenFor(model => model[i].deptID, new { htmlAttributes = new { @class = "form-control" }, })
                    </td>
                    <td>
                        @Html.DisplayNameFor(model => model[i].status)
                        @Html.HiddenFor(model => model[i].status, new { htmlAttributes = new { @class = "form-control" }, })
                    </td>
                </tr>
                <tr id="@index">
                    <td>
                        <table class="table">
                            <tr>
                                <th>Description</th>
                                <th>Handover Qty</th>
                                <th>Takeover Qty</th>
                            </tr>
                            @for (int j = 0; j < deptdvm.transItemLists.Count; j++)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(model => model[i].transItemLists[j].Item.Description)</td>
                                    <td>@Html.DisplayFor(model => model[i].transItemLists[j].HandOverQty)</td>
                                    <td>@Html.DisplayFor(model => model[i].transItemLists[j].TakeOverQty)</td>
                                </tr>
                            }
                        </table>
                    </td>
                </tr>

            }
        }
        <tr><td><button type="button"><a href="~/Disbursement/Generate"> Generate Disbursement</a></button></td></tr>
    </table>
</div>