@model PagedList.IPagedList<SSIMS.Models.DisbursementList>
@using PagedList.Mvc;

@{
    ViewBag.Header = "Disbursements";
    ViewBag.Section = "Disbursements";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<style>
    th, td{
        text-align:center;
    }
    #top-bar{
        width:100%;
        height:50px;
        margin: 5px 0px;
    }
        #top-bar button {
            float: left;
            margin-right: 50px;
            width: 200px;
            height: 40px;
            font-size: 15px;
            font-weight: bold;
            color: white;
            background-color: #437373;
        }
</style>

<div id="top-bar">
    <div>
        <button onclick="window.location.href = '/Retrieval/Index';">Go to Retrievals</button>
    </div>
    <div>
        <button onclick="window.location.href = '/Disbursement/Current';">Current Disbursements</button>
    </div>
</div>
<div class="table-responsive">
    <label> &nbsp;View by Status: &nbsp;</label>
    &nbsp; @Html.ActionLink("Pending", "Index", new { status = "Pending" }) &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
    @Html.ActionLink("Completed", "Index", new { status = "Completed" }) &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
    @Html.ActionLink("View All", "Index", new { status = "All" })

    <table class="table">
        <tr>
            <th>Disbursement ID</th>
            <th>Created Date</th>
            <th>Department</th>
            <th>Status</th>
            <th>Created By</th>
            <th>View Details</th>
        </tr>

        @foreach (var dl in Model)
        {
            string fullid = dl.ID.ToString($"DL{0:1000000}");
            <tr>
                <td>
                    @fullid
                </td>
                <td>
                    @Html.DisplayFor(modelItem => dl.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => dl.Department.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => dl.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => dl.CreatedByStaff.Name)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = dl.ID })
                </td>
            </tr>
        }

    </table>
</div>
<br />
<table class="table">
    <tr>
        <td align="center">Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</td>
    </tr>
    <tr>
        <td align="center">@Html.PagedListPager(Model, page => Url.Action("NextPage", new { page }))</td>
    </tr>
</table>
