@model PagedList.IPagedList<SSIMS.Models.DisbursementList>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Disbursement";
    ViewBag.Header = "Disbursement History";
    ViewBag.Section = "Disbursements";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<hr />

<div class="table-responsive">
    <h4>Disbursement History</h4>
    <label>See by Status:</label>
    @Html.ActionLink("Pending", "Index", new { status = "Pending" }) |
    @Html.ActionLink("Completed", "Index", new { status = "Completed" }) |
    @Html.ActionLink("See All", "Index", new { status = "All" })

    <table class="table">
        <tr>
            <th>Disbursement ID</th>
            <th>Created Date</th>
            <th>Department</th>
            <th>Status</th>
            <th>Created By</th>
            <th>View Details</th>
        </tr>

        @foreach (var dl in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => dl.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => dl.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => dl.Department.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => dl.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => dl.CreatedByStaff.Name)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = dl.ID })
                </td>
            </tr>
        }
        
    </table>
</div>
<br />
<table class="table">
    <tr>
        <td align="center">Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</td>
    </tr>
    <tr>
        <td align="center">@Html.PagedListPager(Model, page => Url.Action("NextPage", new { page }))</td>
    </tr>
</table>
