@model IEnumerable<SSIMS.ViewModels.RetrievalItemViewModel>


@{
    ViewBag.Title = "Retrieval";
    ViewBag.Header = "Retrieval List";
    ViewBag.Section = "Disbursement";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<head>
    <style>
        [data-toggle="toggle"] {
            display: none;
        }
    </style>
    <script>
            $(document).ready(function () {
                $('[data-toggle="toggle"]').change(function () {
                    $(this).parents().next('.hideme').toggle();
                });
            });


            @*var $headers = $('.header').click(function () {
                console.log("Clicked");
                $(this).find('span').text(function (_, value) {
                    return value == '-' ? '+' : '-'
                });
                $(this).nextUntil('tr.header').slideToggle(100, function () { });
            });
    </script>
</head>*@


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" style="border-bottom: 1px solid; border-bottom-color: lightslategrey">
    <tr class="description">
        <th width="30%">
            @Html.DisplayNameFor(model => model.item.Description)
        </th>
        <th style="text-align: center" width="30%">
            @Html.DisplayNameFor(model => model.transactionItem.HandOverQty)
        </th>
        <th style="text-align:center" width="30%">
            @Html.DisplayNameFor(model => model.transactionItem.TakeOverQty)
        </th>
    </tr>
</table>

@foreach (var Retrievalitem in Model)
{
    @* @using (Html.BeginForm("Confirm", "Disbursement"))
        {*@
    <form method="post">
        <table class="table" style="border:1px solid; border-color:lightgray; border-radius: 5px">
            
            <tbody class="labels">
                <tr>
                    <th width="30%">
                        <input type="checkbox" data-toggle="toggle">
                        <span>+</span>    @Html.DisplayFor(modelItem => Retrievalitem.item.Description)
                    </th>
                    <td style="text-align:center" width="30%">
                        @Html.DisplayFor(modelItem => Retrievalitem.transactionItem.HandOverQty)
                    </td>
                    <td style="text-align:center" width="30%">
                        <input type="number" name="TOQ" style="border:1px solid; border-color:lightgray; border-radius:5px; width: 60px; text-align:center" text=@Retrievalitem.transactionItem.TakeOverQty max=@Retrievalitem.transactionItem.HandOverQty value=@Retrievalitem.transactionItem.TakeOverQty />
                    </td>
                </tr>
            </tbody>
            <tbody class="hideme">
                <tr>
                    <td colspan="3">
                        <table align="center" style="border:1px solid; border-color:lightgray; border-radius: 5px;">
                            <tr>
                                <th width="150px" style="padding-left:10px; border-bottom:1px solid; border-bottom-color:lightgray">Dept</th>
                                <th width="200px" style="text-align:center; border-bottom:1px solid; border-bottom-color:lightgray">Handover Qty</th>
                                <th width="200px" style="text-align:center; border-bottom:1px solid; border-bottom-color:lightgray">Takeover Qty</th>
                                <th width="400px" style="padding-left:10px; border-bottom:1px solid; border-bottom-color:lightgray">Reason</th>
                            </tr>
                            @foreach (var drivm in Retrievalitem.deptRetrievalItems)
                            {
                                <tr>
                                    <td style="padding-left:10px">
                                        @Html.DisplayFor(modelItem => drivm.deptID)
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => drivm.transactionItem.HandOverQty)
                                    </td>
                                    <td align="center">
                                        <input type="number" name="drivmTOQ" max=@drivm.transactionItem.HandOverQty style="border:1px solid; border-color:lightgray; border-radius:5px; width: 60px; text-align:center" value=@drivm.transactionItem.TakeOverQty />
                                    </td>
                                    <td style="padding-left: 10px">
                                        <input type="text" name="drivmReason" style="border:1px solid; border-color:lightgray; border-radius: 5px; width: 380px" maxlength="300" value=@drivm.transactionItem.Reason />
                                    </td>
                                </tr>
                            }
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" align="right">
                        <button type="submit" value="Submit">Confirm</button>
                    </td>
                </tr>
            </tbody>
            
        </table>
    </form>

}




