@using SSIMS.Models

@{
    ViewBag.Header = "Departments";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Department> departments = ViewBag.Departments;
    List<Staff> heads = ViewBag.HeadList;
    List<Staff> reps = ViewBag.RepList;
    List<string> auths = ViewBag.Auth;
    int count = ViewBag.DeptCount;
}



<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Department
        </th>
        <th>
            Head
        </th>
        <th>
            Representative
        </th>
        <th>
            Authorized Head
        </th>
        <th>
            Dept Name
        </th>
        <th>
           Phone
        </th>
        <th>
           Fax
        </th>
        <th></th>
    </tr>

@for (int i=0; i < count-1;i++) {
    <tr>
        <td>
           @departments[i].DeptName
        </td>
        <td>
            @heads[i].Name
        </td>
        <td>
            @reps[i].Name
        </td>
        <td>
            @auths[i]
        </td>
        <td>
            @departments[i].ID
        </td>
        <td>
            @departments[i].PhoneNumber
        </td>
        <td>
            @departments[i].FaxNumber
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=departments[i].ID }) |
        </td>
    </tr>
}

</table>
