@using SSIMS.Models

@{
    ViewBag.Header = "Department List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Department> departments = ViewBag.Departments;
    List<Staff> heads = ViewBag.HeadList;
    List<Staff> reps = ViewBag.RepList;
    List<string> auths = ViewBag.Auth;
    int count = ViewBag.DeptCount;

    ViewBag.Section = "Departments";
}
<style>
    th, td{
        text-align:center;
    }
</style>
<table class="table">
    <tr>
        <th>
            <i class="fas fa-building"></i> &nbsp; Department
        </th>
        <th>
            <i class="fas fa-user-tie"></i> &nbsp; Head
        </th>
        <th>
            <i class="fas fa-user"></i> &nbsp; Representative
        </th>
        <th>
            Authorized Head
        </th>
        <th>
            Code
        </th>
        <th>
           <i class="fa fa-phone"></i> &nbsp; Phone
        </th>
        <th>
            <i class="fas fa-fax"></i> &nbsp; Fax
        </th>
        <th>Details</th>
    </tr>

@for (int i=0; i < count-1;i++) {
    <tr>
        <td>
           @departments[i].DeptName
        </td>
        <td>
            @heads[i].Name
        </td>
        <td>
            @reps[i].Name
        </td>
        <td>
            @auths[i]
        </td>
        <td>
            @departments[i].ID
        </td>
        <td>
            @departments[i].PhoneNumber
        </td>
        <td>
            @departments[i].FaxNumber
        </td>
        <td>
            @Html.ActionLink("Details", "Details2", new { id=departments[i].ID }) 
        </td>
    </tr>
}

</table>
