@model PagedList.IPagedList<SSIMS.ViewModels.PurchaseOrderVM>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "Purchase Orders";
    ViewBag.Header = "Purchase Orders";
    ViewBag.Section="Purchases";
}

@*<h2>Purchase Orders</h2>*@

@using (Html.BeginForm("Index", "PurchaseOrders", FormMethod.Get))
{
<p>
    Search: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
    <input type="submit" value="Search" />

    @if (Session["role"].ToString() == "clerk")
    {
        <div align="left"><button>@Html.ActionLink("View Purchase Cart", "Index", "PurchaseItems")</button></div>
    }

</p>
}

<table class="table">
    <tr>
        <th>
            Purchase Order ID
        </th>
        <th>
            Supplier ID
        </th>
        <th>
            @Html.ActionLink("Date Submitted", "Index", new { sortOrder = ViewBag.Dates })
        </th>
        <th>
            @Html.ActionLink("Total Cost", "Index", new { sortOrder = ViewBag.Cost })
        </th>
        <th>
            Status
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.ID })
            </td>
        </tr>
    }

</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
