@model PagedList.IPagedList<SSIMS.ViewModels.PurchaseItemVM>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/Content/PopUp.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Purchase Cart";
    ViewBag.Header = "Purchase Cart";
    ViewBag.Section="Purchases";
}
<h2>Purchase Cart</h2>

@using (Html.BeginForm("Index", "PurchaseItems", FormMethod.Get))
{
<p>
    Search: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
    <input type="submit" value="Search" />

    @if (Session["role"].ToString() == "clerk")
    {
        <div align="left"><button>@Html.ActionLink("View Purchase Orders", "Index", "PurchaseOrders")</button></div>

    }
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Item ID", "Index", new { sortOrder = ViewBag.ItemIDSortParm })
        </th>
        <th>
            @Html.ActionLink("Discription", "Index", new { sortOrder = ViewBag.ItemDescSortParm })

        </th>
        <th>
            Supplier ID
        </th>
        <th>
            Current Store Qty
        </th>
        <th>
            Purchasing Qty
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tender.Item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tender.Item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tender.Supplier.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qty)
            </td>

            <td>
                @Html.ActionLink("Remove", "Delete", new { id = item.ID }) 
            </td>
        </tr>

    }
    <tr>

        <th>
            @if (Session["role"].ToString() == "clerk")
            {
            <button>@Html.ActionLink("Add All Low Stock", "AddAllLowStockToPurchaseItems")</button>
            }
            

        </th>
        
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>
            @if (Session["role"].ToString() == "clerk")
            {
                <button>@Html.ActionLink("Generate Purchase Orders", "GeneratePurchaseOrders")</button>
            }
        </th>
    </tr>

</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

