@model PagedList.IPagedList<SSIMS.Models.RetrievalList>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<label>See by Status:</label>
@Html.ActionLink("InProgess", "Index", new { status = "InProgress" })
@Html.ActionLink("Completed", "Index", new { status = "Completed" })
@Html.ActionLink("See All", "Index", new { status = "All"})

<table class="table">
    <tr>
        <th>Retrieval ID</th>
        <th>Created Date</th>
        <th>Department</th>
        <th>Status</th>
        <th>Created By</th>
        <th>View Details</th>
    </tr>

    @foreach (var rl in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => rl.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => rl.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => rl.Department.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => rl.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => rl.CreatedByStaff.Name)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = rl.ID })
            </td>
        </tr>
    }

</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("NextPage", new { page}))

