@model SSIMS.ViewModels.DashboardVM

@{
    ViewBag.Title = "Clerk";
    ViewBag.Header = "Store Dashboard";
    ViewBag.Section = "Dashboard";
    
}

<h3>Upcoming Disbursement</h3>
<table class="table-bordered">
    <tr>
        <td>Location</td>
        <td>Time</td>
        <td>Department</td>
    </tr>
    @foreach (var dis in Model.disbursements)
    {
<tr>
    <td>@Html.DisplayFor(modelItem => dis.Department.CollectionPoint.Location)</td>
    <td>@Html.DisplayFor(modelItem => dis.Department.CollectionPoint.Time)</td>
    <td>@Html.DisplayFor(modelItem => dis.Department.ID)</td>
</tr>
    }

</table>
<button onclick="window.location.href = '/Retrieval/Current';">Retrieval</button>
<button onclick="window.location.href = '/Disbursement/Current';">Disbursement</button>




<h3>Low Stock Inventory Items(Top3) <button onclick="window.location.href = '/Inventory/Index';">View All</button></h3>

<table class="table">
    <tr>
        <td>Item Code</td>
        <td>Item Description</td>
        <td>Qty</td>

        <td>Details</td>
    </tr>
    @foreach (var it in Model.inventoryItems)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => it.Item.ID)</td>
            <td>@Html.DisplayFor(modelItem => it.Item.Description)</td>
            <td>@Html.DisplayFor(modelItem => it.InStoreQty)</td>

            <td>@Html.ActionLink("View", "Details", "Inventory", new { id = it.ID }, null)</td>

        </tr>
    }

</table>

<button onclick="window.location.href = '/purchaseorders/Create';">Purchase Order</button>