@model SSIMS.ViewModels.DashboardVM

@{
    ViewBag.Header = "Store Dashboard";
    ViewBag.Section = "Dashboard";
    DateTime today = DateTime.Today.ToLocalTime();
    int daysleft = ((int)DayOfWeek.Monday - (int)today.DayOfWeek + 7) % 7;
}
<style>
    #panel-top, #panel-bottom{
        margin:20px;
        width:800px;
    }
    #panel-top td, #panel-bottom td{
        text-align:center;
        padding: 5px 0px;
    }
    #panel-top button{
        margin: 10px 20px 10px 0px;
        width: 150px;
    }
    .special {
        background: linear-gradient(to right, rgba(146, 167, 154, 0.20) 0%, rgba(115, 147, 147, 0.31) 100%);
    }
    button{
        color:white;
        background-color:#437373;
    }
</style>
<div id="panel-top">

    <h3><i class="fa fa-clock"></i> &nbsp; Upcoming Disbursements in @daysleft Days</h3>
    <table class="table-bordered">
        <tr class="special">
            <td style="width:300px">Location</td>
            <td style="width:300px">Time</td>
            <td style="width:200px">Department</td>
        </tr>
        @foreach (var dis in Model.Disbursements)
        {

            DateTime time = dis.Department.CollectionPoint.Time;
            string nextMonday = today.AddDays(daysleft).AddHours(time.Hour).AddMinutes(time.Minute).ToString("dd/MM/yyyy hh:mm tt");
            <tr>
                <td>@Html.DisplayFor(modelItem => dis.Department.CollectionPoint.Location)</td>
                <td>@nextMonday</td>
                <td>@Html.DisplayFor(modelItem => dis.Department.ID)</td>
            </tr>
        }

    </table>
    <button onclick="window.location.href = '/Retrieval/Current';">Retrieval</button>
    <button onclick="window.location.href = '/Disbursement/Current';">Disbursement</button>

</div>




<div id="panel-bottom">
    <div style="float:left">
        <h3><i class="fa fa-warning" style="color:maroon"></i> &nbsp; Low Stock Inventory Items (Top 3) </h3>
    </div>
    <button style="position:relative;top:20px;left:30px" onclick="window.location.href = '/Inventory/Index';">View All</button>

    <table class="table">
        <tr class="special">
            <td>Item Code</td>
            <td>Item Description</td>
            <td>Qty</td>

            <td>Details</td>
        </tr>
        @foreach (var it in Model.InventoryItems)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => it.Item.ID)</td>
                <td>@Html.DisplayFor(modelItem => it.Item.Description)</td>
                <td>@Html.DisplayFor(modelItem => it.InStoreQty)</td>

                <td>@Html.ActionLink("View", "Details", "Inventory", new { id = it.ID }, null)</td>

            </tr>
        }

    </table>
</div>


