@model IEnumerable<SSIMS.Models.InventoryItem>
@{
    ViewBag.Header = "Store Dashboard";
    ViewBag.Section = "Dashboard";
    var poscount = ViewBag.poscount;
    var advscount = ViewBag.advscount;

}

<h3>Attention Required</h3>
<table class="table-condensed">
    <tr>
        <th>Purchase Orders</th>
        <td>@poscount</td>
        <td>
            <button onclick="window.location.href = '/purchaseorders/index'">View</button>
        </td>
    </tr>
    <tr>
        <th>Adjustment Forms</th>
        <td>@advscount </td>
        <td>
            <button onclick="window.location.href = '/Inventory/Adjustment';">View</button>
        </td>
    </tr>
</table>

<p></p>

<h3>Low Stock Inventory Items(Top3) <button onclick="window.location.href = '/Inventory/Index';">View All</button></h3>

<table class="table">
    <tr>
        <td>Item Code</td>
        <td>Item Description</td>
        <td>Qty</td>
        
        <td>Details</td>
    </tr>
    @foreach (var it in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => it.Item.ID)</td>
            <td>@Html.DisplayFor(modelItem => it.Item.Description)</td>
            <td>@Html.DisplayFor(modelItem => it.InStoreQty)</td>
           
        <td>@Html.ActionLink("View", "Details","Inventory", new { id = it.ID },null)</td>
           
        </tr>
    }

</table>