@model SSIMS.Models.RequisitionOrder

@{
    ViewBag.Title = "Approve";
    ViewBag.Header = "Requisition Order Details";
    ViewBag.Section = "Requisitions";
}



<table class="table table-bordered">
    <tr>
        <th>
            Requisition ID
            @*@Html.LabelFor(x => x.ID, htmlAttributes: new { @class = "control-label col-md-2" })*@
        </th>
        <td>
            @Html.DisplayFor(x => x.ID)
        </td>

        <th>
            Department
            @*@Html.LabelFor(x => x.CreatedByStaff.Department, htmlAttributes: new { @class = "control-label col-md-2" })*@
        </th>
        <td>
            @Html.DisplayFor(x => x.CreatedByStaff.DepartmentID)
        </td>
    </tr>

    <tr>
        <th>
            Created Date
            @*@Html.LabelFor(x => x.CreatedDate, htmlAttributes: new { @class = "control-label col-md-2" })*@
        </th>
        <td class="noBorder">
            @Html.DisplayFor(x => x.CreatedDate)

        </td>

        <th>
            Status
            @*@Html.LabelFor(x => x.Status, htmlAttributes: new { @class = "control-label col-md-2" })*@

        </th>
        <td>
            @Html.DisplayFor(x => x.Status)
        </td>
    </tr>

    <tr>
        <th>
            Staff ID
            @*@Html.LabelFor(x => x.CreatedByStaffID, htmlAttributes: new { @class = "control-label col-md-2" })*@
        </th>
        <td>
            @Html.DisplayFor(x => x.CreatedByStaff.ID)

        </td>

        <th>
            Staff Name
            @*@Html.LabelFor(x => x.CreatedByStaff, htmlAttributes: new { @class = "control-label col-md-2" })*@

        </th>
        <td>
            @Html.DisplayFor(x => x.CreatedByStaff.Name)

        </td>
    </tr>
    <tr>
        <th>
            Replied By Staff
            @*@Html.LabelFor(x => x.RepliedByStaff, htmlAttributes: new { @class = "control-label col-md-2" })*@
        </th>
        <td>
            @Html.DisplayFor(x => x.RepliedByStaff.Name)

        </td>

        <th>
            Response Date
            @*@Html.LabelFor(x => x.ResponseDate, htmlAttributes: new { @class = "control-label col-md-2" })*@
        </th>
        <td>
            @Html.DisplayFor(x => x.ResponseDate)
        </td>
    </tr>

    <tr>
        <th>
            Comments
            @*@Html.LabelFor(x => x.Comments, htmlAttributes: new { @class = "control-label col-md-2" })*@
        </th>
        <td colspan="3">
            @Html.DisplayFor(x => x.Comments)
        </td>
    </tr>

</table>






<table class="table">
    <tr>
        <th>
            Item ID
        </th>

        <th>
            Category
        </th>

        <th>
            Description
        </th>


        <th>
            Unit of Measure
        </th>

        <th>
            Qty
        </th>

    </tr>

    @foreach (var ro in Model.DocumentItems)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => ro.Item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => ro.Item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => ro.Item.Description)
            </td>

            <td>
                @Html.DisplayFor(modelItem => ro.Item.UnitOfMeasure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => ro.Qty)
            </td>

        </tr>
    }

</table>
@if (ViewBag.staffrole == "DeptHead")
{
    <p>
        @Html.ActionLink("Back to Pending List", "Manage")
    </p>
}
    <p>
        @Html.ActionLink("Back to Requisition History List", "ViewHistory")
    </p>

