@model SSIMS.Models.RequisitionOrder

@{
    ViewBag.Title = "Approve";
}

<h2>Approve Details</h2>

<table>
    <tr>
        <td>
            @Html.LabelFor(x => x.ID, htmlAttributes: new { @class = "control-label col-md-2" })
        </td>
        <td>
            @Html.DisplayFor(x => x.ID)
        </td>
    </tr>


    <tr>
        <td>
            @Html.LabelFor(x => x.CreatedByStaff.Department.DeptName, htmlAttributes: new { @class = "control-label col-md-2" })
        </td>
        <td>
            @Html.DisplayFor(x => x.CreatedByStaff.Department.DeptName)
        </td>
    </tr>

    <tr>
        <td>
            @Html.LabelFor(x => x.CreatedDate, htmlAttributes: new { @class = "control-label col-md-2" })

        </td>
        <td>
            @Html.DisplayFor(x => x.CreatedDate)

        </td>
    </tr>

    <tr>
        <td>
            @Html.LabelFor(x => x.Status, htmlAttributes: new { @class = "control-label col-md-2" })

        </td>
        <td>
            @Html.DisplayFor(x => x.Status)
        </td>
    </tr>

    <tr>
        <td>
            @Html.LabelFor(x => x.CreatedByStaffID, htmlAttributes: new { @class = "control-label col-md-2" })
        </td>
        <td>
            @Html.DisplayFor(x => x.CreatedByStaff.ID)

        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(x => x.CreatedByStaff, htmlAttributes: new { @class = "control-label col-md-2" })

        </td>
        <td>
            @Html.DisplayFor(x => x.CreatedByStaff.Name)

        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(x => x.RepliedByStaff, htmlAttributes: new { @class = "control-label col-md-2" })
        </td>
        <td>
            @Html.DisplayFor(x => x.RepliedByStaff.Name)

        </td>
    </tr>

    <tr>
        <td>
            @Html.LabelFor(x => x.ResponseDate, htmlAttributes: new { @class = "control-label col-md-2" })
        </td>
        <td>
            @Html.DisplayFor(x => x.ResponseDate)
        </td>
    </tr>

    <tr>
        <td>
            @Html.LabelFor(x => x.Comments, htmlAttributes: new { @class = "control-label col-md-2" })
        </td>
        <td>
            @Html.DisplayFor(x => x.Comments)
        </td>
    </tr>

</table>






        <table class="table">
            <tr>
                <th>
                    Item ID
                </th>

                <th>
                    Category
                </th>

                <th>
                    Description
                </th>


                <th>
                    Unit of Measure
                </th>

                <th>
                    Qty
                </th>

            </tr>

            @foreach (var ro in Model.DocumentItems)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => ro.Item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => ro.Item.Category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => ro.Item.Description)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => ro.Item.UnitOfMeasure)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => ro.Qty)
                    </td>

                </tr>
            }

        </table>

        <p>
            @Html.ActionLink("Back to Pending List", "Deal")
        </p>

        <p>
            @Html.ActionLink("Back to Requisition History List", "ViewHistory")
        </p>

