@model SSIMS.Models.RequisitionOrder
@{
    ViewBag.Title = "Cancel";
    ViewBag.Header = "Requisition Order Details";
    ViewBag.Section="Requisitions";
}

<h2>Cancel Details</h2>

    <div class="form-group">
        @Html.LabelFor(x => x.CreatedDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-5">
            @Html.DisplayFor(x => x.CreatedDate)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Status, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-5">
            @Html.DisplayFor(x => x.Status)
        </div>
    </div>


    <table class="table">
        <tr>

            <th>
                Description
                @*@Html.DisplayNameFor(model => model.Item.Description)*@
            </th>

            <th>
                Unit of Measure
                @*@Html.DisplayNameFor(model => model.Item.UnitOfMeasure)*@
            </th>

            <th>
                Qty
                @*@Html.DisplayNameFor(model => model.Qty)*@
            </th>

        </tr>

        @foreach (var ro in Model.DocumentItems)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => ro.Item.Description)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => ro.Item.UnitOfMeasure)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => ro.Qty)
                </td>

            </tr>
        }

    </table>

    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
