@model SSIMS.Models.RequisitionOrder
@{
    ViewBag.Title = "Cancel";
    ViewBag.Header = "Requisition Order Details";
    ViewBag.Section="Requisitions";
}

    <p> <label>Created Date: </label> @Html.DisplayFor(x => x.CreatedDate) </p>
    <p> <label>Status </label>  @Html.DisplayFor(x => x.Status) </p>


    <table class="table">
        <tr>

            <th>
                Description
                @*@Html.DisplayNameFor(model => model.Item.Description)*@
            </th>

            <th>
                Unit of Measure
                @*@Html.DisplayNameFor(model => model.Item.UnitOfMeasure)*@
            </th>

            <th>
                Qty
                @*@Html.DisplayNameFor(model => model.Qty)*@
            </th>

        </tr>

        @foreach (var ro in Model.DocumentItems)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => ro.Item.Description)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => ro.Item.UnitOfMeasure)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => ro.Qty)
                </td>

            </tr>
        }

    </table>

    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
