@model SSIMS.Models.RequisitionOrder

@{
    ViewBag.Title = "Details";
    ViewBag.Header = "Requisition Order Details";
    ViewBag.Section = "Requisitions";
}
<script>
    function post(path, params, method = 'post') {
        const form = document.createElement('form');
        form.method = method;
        form.action = path;

        for (const key in params) {
            if (params.hasOwnProperty(key)) {
                const hiddenField = document.createElement('input');
                hiddenField.type = 'hidden';
                hiddenField.name = key;
                hiddenField.value = params[key];
                form.appendChild(hiddenField);
            }
        }
        document.body.appendChild(form);
        form.submit();
    }

    approve(){
        var comment = document.getElementById("comment").value;
        post('/requisition/approve', { 'id': @Model.ID, 'comment': comment });
    }

    reject(){
        var comment = document.getElementById("comment").value;
        post('/requisition/reject', { 'id': @Model.ID, 'comment': comment });
    }
</script>


<table class="table table-bordered">
    <tr>
        <th>
            Requisition ID
        </th>
        <td>
            @Html.DisplayFor(x => x.ID)
        </td>
    </tr>

    <tr>
        <th>
            Requesting Staff
        </th>
        <td>
            @Html.DisplayFor(x => x.CreatedByStaff.Name) (@Html.DisplayFor(x => Model.CreatedByStaff.DepartmentID))
        </td>
    </tr>
    <tr>
        <th>
            Status
        </th>
        @if (Model.Status == SSIMS.Models.Status.Rejected)
        {
            <td style="color:maroon;font-weight:bold">
                @Html.DisplayFor(x => x.Status)
            </td>
        }
        else if (Model.Status == SSIMS.Models.Status.Approved)
        {
            <td style="color:darkgreen;font-weight:bold">
                @Html.DisplayFor(x => x.Status)
            </td>
        }
        else
        {
            <td style="color:midnightblue;font-weight:bold">
                @Html.DisplayFor(x => x.Status)
            </td>
        }
    </tr>
    <tr>
        <th>
            Request Date
        </th>
        <td>
            @Html.DisplayFor(x => x.CreatedDate)
        </td>
    </tr>

    @if (Model.Status != SSIMS.Models.Status.Pending)
    {

        <tr style="background-color:lightgoldenrodyellow">
            <th>
                Replying Staff
            </th>
            <td>
                @Html.DisplayFor(x => x.RepliedByStaff.Name) (@Html.DisplayFor(x => Model.RepliedByStaff.DepartmentID))
            </td>
        </tr>
        <tr style="background-color:lightgoldenrodyellow">
            <th>
                Comments
            </th>
            <td>
                @Html.DisplayFor(x => x.Comments)
            </td>
        </tr>
        <tr style="background-color:lightgoldenrodyellow">
            <th>
                Response Date
            </th>
            <td>
                @Html.DisplayFor(x => x.ResponseDate)
            </td>
        </tr>


    }
</table>


<table class="table">
    <tr>
        <th>
            Category
        </th>

        <th>
            Description
        </th>

        <th>
            Unit of Measure
        </th>

        <th>
            Qty
        </th>

    </tr>

    @foreach (var ro in Model.DocumentItems)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => ro.Item.Category)
            </td>

            <td>
                @Html.DisplayFor(modelItem => ro.Item.Description)
            </td>

            <td>
                @Html.DisplayFor(modelItem => ro.Item.UnitOfMeasure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => ro.Qty)
            </td>

        </tr>
    }

</table>

@*staff see below*@
@if (Session["role"].ToString() == "staff" || Session["role"].ToString() == "rep")
{
    <div style="margin:10px">
        <p>
            @Html.ActionLink("Back to List", "Index")
        </p>
        @*staff see below when status=pending*@

        @if (Model.Status == SSIMS.Models.Status.Pending)
        {
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.ID })
            </p>
            <p>
                @Html.ActionLink("Cancel", "Cancel", new { id = Model.ID })
            </p>
        }
    </div>
    
}
else
{
    @*Dep head see below *@

    if (Session["role"].ToString() == "head")
    {
        if (Model.Status == SSIMS.Models.Status.Pending)
        {

            <div>
                @using (Html.BeginForm("Reply", "Requisition", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <table>
                        <tr>
                            <td><button name="isApprove" value="true">Approve</button></td>
                        </tr>
                        <tr>
                            <td><button name="isApprove" value="false">Reject</button></td>
                        </tr>
                        <tr>
                            <td>Comments <input type="text" name="comment" value=@Model.Comments /></td>
                        </tr>
                    </table>
                    <input type="hidden" name="id" value="@Model.ID" />

                }





            </div>
            }
        <div style="margin:10px">
            <p>
                @Html.ActionLink("View Requisition History List", "ViewHistory")
            </p>

            <p>
                @Html.ActionLink("Back to Pending List", "Manage")
            </p>

        </div>
        
    }

}

