@model SSIMS.ViewModels.RequisitionItemVM
@using SSIMS.ViewModels;


@{
    ViewBag.Title = "Edit";
    ViewBag.Header = "Edit Requisition Order";
    ViewBag.Section="Requisitions";
}



@using (Html.BeginForm("Save", "Requisition", new { id = Model.ROID }))
{
    @Html.AntiForgeryToken()
    <table>
        <tr>
           
            <th>Category</th>
            <th>Description</th>
            <th>Unit of Measure</th>
            <th>Quantity</th>
           
        </tr>

        @for (var i = 0; i < Model.DocumentItems.Count; i++)
        {

            <tr>

                <td>
                @Html.DisplayFor(m => Model.DocumentItems[i].Item.Category)
                @Html.HiddenFor(m => Model.DocumentItems[i].Item.Category)
                </td>
                <td>
                    @Html.DisplayFor(m => Model.DocumentItems[i].Item.Description)
                    @Html.HiddenFor(m => Model.DocumentItems[i].Item.Description)   
                </td>
                <td>
                    @Html.DisplayFor(m => Model.DocumentItems[i].Item.UnitOfMeasure)
                    @Html.HiddenFor(m => Model.DocumentItems[i].Item.UnitOfMeasure)
                </td>
                <td>
                    @*@rivm.Quantity*@
                    @*@Html.Editor(x => rivm.Quantity, new { type = "number", min = "0", max = "100" })*@
                    @*@Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @type = "number", @min = "0", @max = "100", @value = rivm.Quantity } })*@
                    @*@Html.HiddenFor(model => model.SelectedDescription)*@
                    @*@Html.TextBoxFor(model => model.Quantity, new { @Value = Model.DocumentItems[i].Qty, @type = "number", @min = "0", @max = "100" })*@
                    @Html.HiddenFor(m => Model.DocumentItems[i].Item.ID)
                    @Html.EditorFor(m => Model.DocumentItems[i].Qty, new { htmlAttributes = new { @type = "number", @min = "1", @max = "100" } })

                </td>
               
            </tr>

        }


    </table>
   <p style="text-align:right"> <input type="submit" value="Save" class="btn btn-primary" /></p>
}


<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2
    }

    th {
        color: black;
    }
</style>