@model IEnumerable<SSIMS.Models.RequisitionOrder>
@{
    ViewBag.Title = "Index";
}


<h2>View Requisition List</h2>




<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ResponseDate)
        </th>

        <th>
            My Requisition
        </th>

        <th></th>
    </tr>

    @foreach (var ro in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => ro.ID)
            </td>

            <td>
                @Html.DisplayFor(modelItem => ro.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => ro.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => ro.ResponseDate)
            </td>

            <td>

                @Html.ActionLink("Details", "Details", new { id = ro.ID })

            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Create new requisition", "Create")
</p>
