@*@model IEnumerable<SSIMS.Models.RequisitionOrder>*@
@model PagedList.IPagedList<SSIMS.Models.RequisitionOrder>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    ViewBag.Header = "Requisition Order List";
    ViewBag.Section="Requisitions";
}





@*<p style="margin:10px"></p>*@


<div>
    <button onclick="window.location.href = '/Requisition/Create';">
        Create New Request
    </button>
</div>

<p style="margin:80px">    </p>

@if (Model.Count() == 0)
{
    <h4>No requests</h4>
}
else {
<table class="table">
    <tr>

        <th>
            Requisition ID
        </th>

        <th>
           
            @Html.ActionLink("Created Date", "Index", new { sortOrder = ViewBag.CreDates })
        </th>

        <th>
            Status
        </th>

        <th>
           
            @Html.ActionLink("Response Date", "Index", new { sortOrder = ViewBag.ResDates })
        </th>

        <th>
            My Requisition
        </th>

        <th></th>
    </tr>

    @foreach (var ro in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => ro.ID)
            </td>

            <td>
                @Html.DisplayFor(modelItem => ro.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => ro.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => ro.ResponseDate)
            </td>

            <td>

                @Html.ActionLink("Details", "Details", new { id = ro.ID })

            </td>
        </tr>
}

</table>
}

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",new { page,sortOrder = ViewBag.CurrentSort }))


<style>
    div button {
        float: left;
        margin-right: -50%;
        margin-top: 2em;
    }
</style>