@*@model IEnumerable<SSIMS.Models.RequisitionOrder>*@
@model PagedList.IPagedList<SSIMS.Models.RequisitionOrder>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Manage";
    ViewBag.Header = "Manage";
    ViewBag.Section="Requisitions";
}

    <p style="margin:10px">    </p>

<p>
    @Html.ActionLink("See Requisition History List", "ViewHistory")
</p>

<p style="margin:50px">    </p>

<table class="table">
    <tr>

        <th>
            Requisition ID
            @*@Html.DisplayNameFor(model => model.ID)*@
        </th>

        <th>
            Created by Staff
            @*@Html.DisplayNameFor(model => model.CreatedByStaff)*@
        </th>

        <th>
            Created Date
            @*@Html.DisplayNameFor(model => model.CreatedDate)*@
        </th>

        <th>
            Status
            @*@Html.DisplayNameFor(model => model.Status)*@
        </th>

        <th>
            Details
        </th>

        <th>
            Manage
        </th>

        
    </tr>

    @foreach (var ro in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => ro.ID)
            </td>

            <td>
                @Html.DisplayFor(modelItem => ro.CreatedByStaff.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => ro.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => ro.Status)
            </td>

            <td>

                @Html.ActionLink("Details", "Details", new { id = ro.ID })

            </td>
            <td>
                @Html.ActionLink("Approve", "Approvequick", new { id = ro.ID }) ||
                @Html.ActionLink("Reject", "Rejectquick", new { id = ro.ID })
            </td>
        </tr>
    }

</table>




<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Manage", new { page }))