@*@model IEnumerable<SSIMS.Models.RequisitionOrder>*@
@model PagedList.IPagedList<SSIMS.Models.RequisitionOrder>
@using PagedList.Mvc;
@{
    ViewBag.Header = "Manage Pending Requests";
    ViewBag.Section = "Requisitions";
    int pageno = Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber;
}
<style>
    th, td {
        text-align: center;
    }

    .special {
        background: linear-gradient(to right, rgba(146, 167, 154, 0.20) 0%, rgba(115, 147, 147, 0.31) 100%);
    }
</style>
<p style="margin:10px">    </p>

<p>
    @Html.ActionLink("View Request History", "ViewHistory")
</p>

<p style="margin:50px">    </p>

@if (Model.Count() == 0)
{
    <p style="font-size:50px;color:lightgray">No Pending Requests</p>
}
else
{

    <table class="table">
        <tr class="special">

            <th>
                Requisition ID
                @*@Html.DisplayNameFor(model => model.ID)*@
            </th>

            <th>
                Created by Staff
                @*@Html.DisplayNameFor(model => model.CreatedByStaff)*@
            </th>

            <th>
                Created Date
                @*@Html.DisplayNameFor(model => model.CreatedDate)*@
            </th>

            <th>
                Status
                @*@Html.DisplayNameFor(model => model.Status)*@
            </th>

            <th>
                Details
            </th>

            <th>
                Action
            </th>


        </tr>

        @foreach (var ro in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => ro.ID)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => ro.CreatedByStaff.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => ro.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => ro.Status)
                </td>

                <td>

                    @Html.ActionLink("Details", "Details", new { id = ro.ID })

                </td>
                <td>
                    @Html.ActionLink("Approve", "Approvequick", new { id = ro.ID }) &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                    @Html.ActionLink("Reject", "Rejectquick", new { id = ro.ID })
                </td>
            </tr>
        }

    </table>
}


@if (Model.Count() > 0) {
    <br />
    <p>Page @pageno of @Model.PageCount</p>

    @Html.PagedListPager(Model, page => Url.Action("Manage", new { page }))
}