@model IEnumerable<SSIMS.ViewModels.AnalyticsDetailsVM>
@using SSIMS.ViewModels
@{

    ViewBag.Title = "AnalyticsList2";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //DatabaseContext db = new DatabaseContext();
    //var selectQueryString = "select DocumentItems.Qty,Items.Category,RequisitionOrders.CreatedDate,Staffs.Department_ID ,MONTH(RequisitionOrders.CreatedDate) AS MONTHfrom Staffs, RequisitionOrders, DocumentItems, Items where Items.ID=DocumentItems.Item_ID and Staffs.ID=RequisitionOrders.CreatedByStaffID";
    /*  var myChart = new Chart(width: 600, height: 400)
          .AddTitle("Chart1")
          .AddSeries(chartType:"column",xValue:SummaryList.CreatedDate, xField: "CreatDate",
  yValues: SummaryList.Qty, yFields: "Qty")
  .Write();
  */
    List<AnalyticsDetailsVM> summarylist = ViewBag.SummaryList1;

}
<!DOCTYPE html>
<h2>AnalyticsList</h2>

<html>
<head>
    <title>ORDER</title>
    <style>
        table, th, td {
            border: solid 1px #bbbbbb;
            border-collapse: collapse;
            padding: 2px;
        }
    </style>
</head>
<body>
    <h3>Department and the number of their orders</h3>
    <table>
        <thead>
            <tr>
                @if (summarylist[0].Qty != 0)
                {
                    <th>Qty</th>
                }
                @if (summarylist[0].Category != "")
                {
                    <th>Category</th>
                }

                @if (summarylist[0].CreatedDate.ToString("yyyy") != "0001")
                {
                    <th>CreateDate</th>
                }
                @if (summarylist[0].Department != null)
                {
                    <th>Department_ID</th>
                }
                @if (summarylist[0].Month != 0)
                {
                    <th>MONTH</th>
                }
                @if (summarylist[0].count != 0)
                {
                    <th>COUNT</th>
                }

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @if (summarylist[0].Qty != 0)
                    {
                        <td>@Html.DisplayFor(modelItem => item.Qty)</td>
                    }

                    @if (summarylist[0].Category != "")
                    {
                        <td>@Html.DisplayFor(modelItem => item.Category)</td>
                    }

                    @if (summarylist[0].CreatedDate.ToString("yyyy") != "0001")
                    {
                        <td>@Html.DisplayFor(modelItem => item.CreatedDate)</td>
                    }
                    @if (summarylist[0].Department != null)
                    {
                        <td>@Html.DisplayFor(modelItem => item.Department)</td>
                    }
                    @if (summarylist[0].Month != 0)
                    {
                        <td>@Html.DisplayFor(modelItem => item.Month)</td>
                    }
                    @if (summarylist[0].count != 0)
                    {
                        <td>@Html.DisplayFor(modelItem => item.count)</td>
                    }

                </tr>
            }

        </tbody>
    </table>

    <div>
        <h1>Chart</h1>
    </div>
   
    <div>
        <img src=" @Url.Action("Chart2")" alt="Chart" />
    </div>
    @Html.ActionLink("Go to check Quantity and Category ", "index")
</body>
</html>
