@model IEnumerable<SSIMS.ViewModels.RequisitionSummaryViewModel>
@{

    ViewBag.Title = "AnalyticsList";
   //DatabaseContext db = new DatabaseContext();
    //var selectQueryString = "select DocumentItems.Qty,Items.Category,RequisitionOrders.CreatedDate,Staffs.Department_ID ,MONTH(RequisitionOrders.CreatedDate) AS MONTHfrom Staffs, RequisitionOrders, DocumentItems, Items where Items.ID=DocumentItems.Item_ID and Staffs.ID=RequisitionOrders.CreatedByStaffID";

}
<!DOCTYPE html>
<h2>AnalyticsList</h2>

<html>
<head>
    <title>order</title>
    <style>
        table, th, td {
            border: solid 1px #bbbbbb;
            border-collapse: collapse;
            padding: 2px;
        }
    </style>
</head>
<body>
    <h1>Orders</h1>
    <table>
        <thead>
            <tr>
                <th>Qty</th>
                <th>Category</th>
                <th>CreatDate</th>
                <th>Department_ID</th>
                <th>MONTH</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Qty)</td>
                <td>@Html.DisplayFor(modelItem => item.Category)</td>
                <td>@Html.DisplayFor(modelItem => item.CreatedDate)</td>
                <td>@Html.DisplayFor(modelItem => item.Department)</td>
                <td>@Html.DisplayFor(modelItem => item.Month)</td>

            </tr>
            }
        </tbody>
    </table>
</body>
</html>
