
@{
    ViewBag.Title = "AnalyticsList";
    var db = Database.Open("SSIMS");
    var selectQueryString = "select DocumentItems.Qty,Items.Category,RequisitionOrders.CreatedDate,Staffs.Department_ID ,MONTH(RequisitionOrders.CreatedDate) AS MONTHfrom Staffs, RequisitionOrders, DocumentItems, Items where Items.ID=DocumentItems.Item_ID and Staffs.ID=RequisitionOrders.CreatedByStaffID";

}
<!DOCTYPE html>
<h2>AnalyticsList</h2>

<html>
<head>
    <title>Small Bakery Products</title>
    <style>
        table, th, td {
            border: solid 1px #bbbbbb;
            border-collapse: collapse;
            padding: 2px;
        }
    </style>
</head>
<body>
    <h1>Small Bakery Products</h1>
    <table>
        <thead>
            <tr>
                <th>Qty</th>
                <th>Category</th>
                <th>CreatDate</th>
                <th>Department_ID</th>
                <th>MONTH</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var row in db.Query(selectQueryString))
            {
                <tr>
                    <td>@row.Qty</td>
                    <td>@row.Category</td>
                    <td>@row.CreatDaten</td>
                    <td>@row.Department_ID</td>
                    <td>@row.MONTH</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
