
@{
    ViewBag.Header = "Trend Analysis";
    ViewBag.Section = "Analytics";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string source = ViewBag.Mode;
}

<style>
    tr {
        height: 50px;
    }

    td {
        width: 250px;
    }

    select {
        width: 200px;
        padding-right: 20px;
    }

    th {
        text-align: right;
        width: 200px;
        font-weight: bold;
        color: white;
    }

    button {
        width: 100px;
    }

    #chart-container {
        width: 100%;
        height: 1600px;
    }

    .chart {
        width: 100%;
        margin: 10px auto;
    }

    table {
        margin: 20px;
    }

    #table-container {
        width: 100%;
        height: auto;
        background: linear-gradient(to right, rgba(41, 89, 89, 0.85) 20%, rgba(1, 16, 16, 0.0) 80%);
    }
</style>
<script>
    function change() {
        var mode = $("#mode").val();
        if (mode == "Requisition Orders") {
            window.location.href = '/Analytics/Disbursements';
        } else {
            window.location.href = '/Analytics/Requisitions';
        }
    }
    function chargeback() {
        window.location.href = '/Analytics/Chargeback';
    }
</script>
<div>
    <div style="height:40px;margin:10px;">
        <h3 style="float:left">Data Source : @source </h3>
        <button style="position:relative;top:22px;left:20px;font-size:13px" onclick="change()">Change</button>
        <button style="position:relative;top:22px;left:50px;font-size:13px" id="runbtn" onclick="runsample()">Run Sample</button>
        <button style="position:relative;top:22px;left:220px;font-size:13px" onclick="chargeback()"><i class="fa fa-dollar"></i> Chargeback</button>
    </div>
    
    <input id="isrun" hidden type="checkbox" />
    <input id="mode" hidden value="@source" />
</div>


<div id="table-container">
    <table>
        <tr>
            <th style="width:200px;">View Statistics By </th>
            <td align="center" style="width:300px;">
                <select name="group" id="group">
                    <option value="Category">Category</option>
                    <option value="Department">Department</option>
                    <option value="Item">Item</option>
                    <option value="Staff">Staff</option>
                    <option value="Month">Month</option>
                    <option value="Year">Year</option>
                </select>
            </td>
            <td style="width:300px;">
                <button onclick="refresh(2000)">Refresh</button>
            </td>
        </tr>
        <tr>
            <th>Filter 1  </th>
            <td align="center">
                <select id="filter1" name="filter1">
                    <option>None</option>
                    <option value="Category">Category</option>
                    <option value="Department">Department</option>
                    <option value="Item">Item</option>
                    <option value="Staff">Staff</option>
                    <option value="Month">Month</option>
                    <option value="Year">Year</option>
                </select>
            </td>
            <td>
                <select id="value1" name="value1" hidden>
                </select>
            </td>
        </tr>
        <tr id="row2" hidden>
            <th id="label2">Filter 2  </th>
            <td align="center">
                <select id="filter2" name="filter2">
                </select>
            </td>
            <td>
                <select id="value2" name="value2" hidden>
                </select>
            </td>
        </tr>

    </table>
</div>


<div id="chart-container">
    <img id="chart1" src=" @Url.Action("GenerateChartQty")" alt="Chart" class="chart" />
    <img id="chart2" src=" @Url.Action("GenerateChartCost")" alt="Chart" class="chart" />
    <img id="chart3" src=" @Url.Action("GenerateChartCount")" alt="Chart" class="chart" />


</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

    $('#filter1').change(function () {

        var f1 = document.getElementById("filter1");
        var r2 = document.getElementById("row2");
        $("#value2").fadeOut(50);
        if (f1.value == "None") {
             $("#row2").delay(500).hide(100);
             $("#filter2").fadeOut(100);
             //$("#label2").fadeOut(100);
            $("#value1").fadeOut(100);


        } else {
            $("#filter2").fadeOut(50);
            //$("#label2").fadeOut(50);
            $("#value1").fadeOut(50);

            $("#row2").show(1000).fadeIn(1000);

            $("#filter2").delay(800).fadeIn(300);
            //$("#label2").delay(800).fadeIn(300);
            $("#value1").delay(100).fadeIn(300);

        }



        var filter1select = $("#filter1").val();
        var filter2 = $('#filter2');
        var values1 = $('#value1');
        var values2 = $('#value2');

        filter2.empty();

        if ( filter1select != null &&  filter1select != '') {
            $.getJSON('@Url.Action("GetFilter2")', { filter1:  filter1select }, function (descriptions) {
                if (descriptions != null && !jQuery.isEmptyObject(descriptions))
                {
                    filter2.append($('<option/>', {
                        value: null,
                        text: "None"
                    }));
                    $.each(descriptions, function (index, description) {
                        filter2.append($('<option/>', {
                            value: description.Value,
                            text: description.Text
                        }));
                    });
                };
            });
            values1.empty();
            values2.empty();
            $.getJSON('@Url.Action("GetFilterValues")', { filter:  filter1select }, function (descriptions) {
                if (descriptions != null && !jQuery.isEmptyObject(descriptions))
                {

                    $.each(descriptions, function (index, description) {
                        values1.append($('<option/>', {
                            value: description.Value,
                            text: description.Text
                        }));
                    });
                };
            });
        }


    });

    $('#filter2').change(function () {
        var f2 = document.getElementById("filter2");
        if (f2.value == "None") {
            $("#value2").fadeOut(200);
        } else {
            $("#value2").fadeOut(200);
            $("#value2").fadeIn(300);
        }

        var filter2select = $("#filter2").val();
        var values2 = $('#value2');
        values2.empty();
        if (filter2select != null && filter2select != '') {
            $.getJSON('@Url.Action("GetFilterValues")', { filter: filter2select }, function (descriptions) {
                if (descriptions != null && !jQuery.isEmptyObject(descriptions)) {

                    $.each(descriptions, function (index, description) {
                        values2.append($('<option/>', {
                            value: description.Value,
                            text: description.Text
                        }));
                    });
                };
            });
        }

    });
    </script>


    <script>
        function refresh(x) {
            $("#chart1").fadeOut(200);
            $("#chart2").fadeOut(200);
            $("#chart3").fadeOut(200);

            var group = $("#group").val();
            var filter1 = $("#filter1").val();
            var filter2 = $("#filter2").val();
            var value1 = $("#value1").val();
            var value2 = $("#value2").val();

            $.ajax({
                url: " @Url.Action("Index","Analytics")",
                type: "POST",
                data: { group: group, filter1: filter1, filter2: filter2, value1: value1, value2: value2},
                datatype :"html",
                cache: false,
                success: function () {
                    //alert("success");
                }

            });

            $("#chart1").attr("src", "@Url.Action("GenerateChartQty")?" + new Date().getTime());
            $("#chart2").attr("src", "@Url.Action("GenerateChartCost")?" + new Date().getTime());
            $("#chart3").attr("src", "@Url.Action("GenerateChartCount")?" + new Date().getTime());

            $("#chart1").delay(x).fadeIn();
            $("#chart2").delay(x).fadeIn();
            $("#chart3").delay(x).fadeIn();
        }

        function runsample() {
            var chk = document.getElementById("isrun");
            if (chk.checked == false) {
                alert("loading sample data..pls wait");
                $.getJSON('@Url.Action("RunSample")');
                chk.checked = true;
                $("#runbtn").css("color","white");
                $("#runbtn").css("background-color", "slategrey");
                $("#runbtn").html("End Sample");
                refresh(2000);

            } else {
                window.location.href = '/analytics/requisitions';
            }
        }


    </script>
}
