@model SSIMS.Models.RetrievalList

@{
        ViewBag.Title = "Retrieval";
        ViewBag.Header = "Retrieval History";
        ViewBag.Section = "Disbursements";
        Layout = "~/Views/Shared/_Layout.cshtml";

}
<style>
    #top-bar button{
        float:left;
        margin-right:50px;
        width:200px;
        height:40px;
        font-size: 15px;
        font-weight:bold;
        color:white;
        background-color:#437373;
    }
    #top-bar{
        width:100%;
        height:50px;
        margin: 5px 0px;
    }
</style>

    <div id="top-bar">
        <div>
            <button onclick="window.location.href = '/Retrieval/Index';">Back</button>
        </div>
        <div style="float:right">
            @Html.ActionLink("Print", "Print", new { id = Model.ID })
            <button type="button" id=@Model.ID style="margin-right:0px">Print</button>
        </div>
    </div>

<div>
    
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Retrieval List ID
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>

        <dt>
            Department ID
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.ID)
        </dd>

        <dt>
            Retrieved by
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedByStaff.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResponseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResponseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
<table class="table">
    <tr>
        <th>Item Description</th>
        <th>Unit</th>
        <th>Qty Requested</th>
        <th>Qty Issued</th>
        <th>Reason</th>
    </tr>
    @foreach (var transItem in Model.ItemTransactions)
    {
    <tr>
        <td>@Html.DisplayFor(model => transItem.Item.Description)</td>
        <td>@Html.DisplayFor(model => transItem.Item.UnitOfMeasure)</td>
        <td>@Html.DisplayFor(model => transItem.HandOverQty)</td>
        <td>@Html.DisplayFor(model => transItem.TakeOverQty)</td>
        <td>@Html.DisplayFor(model => transItem.Reason)</td>
    </tr>
    }
</table>
    </div>

