@model PagedList.IPagedList<SSIMS.Models.RetrievalList>
@using PagedList.Mvc;
@{
        ViewBag.Title = "Retrieval";
        ViewBag.Header = "Retrieval List";
        ViewBag.Section = "Disbursements";
        Layout = "~/Views/Shared/_Layout.cshtml";
        
}

<h2>Index</h2>
<div class="table-responsive">
    <label>See by Status:</label>
    @Html.ActionLink("InProgess", "Index", new { status = "InProgress" }) |
    @Html.ActionLink("Completed", "Index", new { status = "Completed" }) |
    @Html.ActionLink("See All", "Index", new { status = "All" })

<table class="table">
    <tr>
        <th>Retrieval ID</th>
        <th>Created Date</th>
        <th>Department</th>
        <th>Status</th>
        <th>Created By</th>
        <th>View Details</th>
    </tr>

    @foreach (var rl in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => rl.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => rl.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => rl.Department.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => rl.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => rl.CreatedByStaff.Name)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = rl.ID })
            </td>
        </tr>
    }
    <tr><td align="right" colspan="6"><button type="button">@Html.ActionLink("Generate Disbursement", "GenerateDisbursement")</button></td></tr>
</table>
    </div>
    <br />
<table class="table">
    <tr>
        <td align="center">Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</td>
    </tr>
    <tr>
        <td align="center">@Html.PagedListPager(Model, page => Url.Action("NextPage", new { page }))</td>
    </tr>
</table>