@model SSIMS.ViewModels.DeliveryOrderVM

@{
    ViewBag.Title = "Details";
}

<h2>Delivery Order Details</h2>

<div>
    <h4>@Html.DisplayFor(model => model.ID)</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Date Delivered 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt>
            Recieved By
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedByStaff.Name)
        </dd>
        <dt>
            Purchase Order 
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PurchaseOrderID) | @Html.ActionLink("View", "ViewPurchaseOrder", new { id = Model.PurchaseOrderID })
        </dd>
    </dl>
    <table class="table">
        <tr>
            <th>
                Item Code
            </th>
            <th>
                Item Description
            </th>
            <th>
                Quantity
            </th>
        </tr>


        @foreach (var item in Model.DocumentItems)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Qty)
                </td>
            </tr>
        }
        </table>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
