@model PagedList.IPagedList<SSIMS.ViewModels.DeliveryOrderVM>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "Index";
    ViewBag.Header = "Delivery Orders";
    ViewBag.Section="DeliveryOrders";
}

@*<h2>Delivery Orders</h2>*@

@using (Html.BeginForm("Index", "DeliveryOrders", FormMethod.Get))
{
    <p>
        Search: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            Delivery Order ID
        </th>
        <th>
            Recieved By
        </th>
        <th>
            @Html.ActionLink("Date Submitted", "Index", new { sortOrder = ViewBag.Dates })
        </th>
        <th>
            Purchase Order
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedByStaff.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseOrderID) | @Html.ActionLink("View", "ViewPurchaseOrder", new { id = item.PurchaseOrderID })
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.ID })
            </td>
        </tr>
    }

</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))