<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logic Stationery</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <img src=@Url.Content("~/Resources/LogicUIcon.png") style="width:80px;margin-top:5px;margin-bottom:10px;margin-left:40px;margin-right:20px;float:left" />
        <h1 style="color:whitesmoke;margin-left:80px;margin-right:50px;float:left">@ViewBag.Title</h1>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - SSIMS</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
