@{
    string user = (HttpContext.Current.Session.Count > 0) ? HttpContext.Current.Session["username"].ToString() : "Login Authentication Failed";
    string usertype = ViewBag.usertype;
    string usergroup = ViewBag.usergroup;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Logic Stationery</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Blinker:300&display=swap" rel="stylesheet">

    <style>
        * {
            font-family: 'Blinker', sans-serif;
            font-size: medium;
        }

        #topnav {
            height: 80px;
            min-width: 1500px;
            max-width: 3000px;
            background: linear-gradient(to right, #1a4a4a 0%, #ccffff 119%);
            border: none;
        }

        #logicuicon {
            width: 90px;
            margin-top: 5px;
            margin-bottom: 10px;
            margin-left: 60px;
            margin-right: 20px;
            position: fixed;
        }

        #header {
            color: whitesmoke;
            margin-left: 80px;
            margin-right: 50px;
            margin-bottom: 10px;
            position: relative;
            width: 500px;
            left: 150px;
        }

        #username {
            color: black;
            width: 150px;
            position: absolute;
            right: 280px;
            top: 30px;
        }
        #logout{
            color: grey;
            position: absolute;
            right: 200px;
            top: 30px;
        }
        .sidebar {
            height: 100%;
            width: 200px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background: linear-gradient(to right, #1a4a4a 0%, #2F5F5F 100%);
            overflow-x: hidden;
            padding-top: 80px;
            opacity: 1;
        }

            .sidebar a {
                padding: 14px 8px 10px 16px;
                text-decoration: none;
                font-size: 18px;
                height: 50px;
                text-align: center;
                color: lightgray;
                display: block;
            }

                .sidebar a.active {
                    padding: 12px 8px 10px 16px;
                    background-color: #FFFFFF;
                    font-size: 18px;
                    color: black;
                    border-top-left-radius: 25px;
                    border-bottom-left-radius: 25px;
                }

                .sidebar a:hover:not(.active) {
                    background-color: #4F8080;
                    color: whitesmoke;
                    border-top-left-radius: 25px;
                    border-bottom-left-radius: 25px;
                }

        .body-content {
            padding-top: 40px;
            position: absolute;
            left: 200px;
        }
    </style>
</head>
<body>
    <div id="topnav" class="navbar navbar-inverse navbar-fixed-top">
        <img src=@Url.Content("~/Resources/LogicUIcon.png") id="logicuicon" />
        <div id="header"><h1>@ViewBag.Header</h1></div>
        <div id="username"><i class="fa fa-user"></i><b> @user.ToUpper()</b></div>
        <div id="logout">@Html.ActionLink("Logout", "Logout", "Login", new { username = user }, null)</div>
    </div>
    <div class="sidebar">
        @{
            if (usertype == "admin")
            {
                if (ViewBag.Section == "Home")
                {<a class="active" href="~/home/index"><i class="fa fa-list"></i> Dashboard</a>}
                else
                {<a href="~/home/index"><i class="fa fa-list"></i> Home</a>}

                if (ViewBag.Section == "Analytics")
                {<a class="active" href="~/analytics/index"><i class="fa fa-bar-chart"></i> Analytics</a>}
                else
                {<a href="~/analytics/index"><i class="fa fa-bar-chart"></i> Analytics</a>}

                if (ViewBag.Section == "Inventory")
                {<a class="active" href="~/inventory"><i class="fa fa-cubes"></i> Inventory</a>}
                else
                {<a href="~/inventory/index"><i class="fa fa-cubes"></i> Inventory</a>}

                if (ViewBag.Section == "Departments")
                {<a class="active" href="~/departments/index"><i class="fa fa-users"></i> Departments</a>}
                else
                {<a href="~/departments/index"><i class="fa fa-users"></i> Departments</a>}

                if (ViewBag.Section == "Requistions")
                {<a class="active" href="~/requisition/index"><i class="fa fa-check-circle"></i> Requisitions</a>}
                else
                {<a href="~/requisition/index"><i class="fa fa-check-circle"></i> Requisitions</a>}

                if (ViewBag.Section == "Disbursements")
                {<a class="active" href="~/disbursement/index"><i class="fa fa-exchange"></i> Disbursements</a>}
                else
                {<a href="~/disbursement/index"><i class="fa fa-exchange"></i> Disbursements</a>}

                if (ViewBag.Section == "Catalogue")
                {<a class="active" href="~/items/index"><i class="fas fa-pencil-alt"></i>Items</a>}
                else
                {<a href="~/items/index"><i class="fas fa-pencil-alt"></i>Items</a>}

                if (ViewBag.Section == "Purchases")
                {<a class="active" href="~/purchaseorders/index"><i class="fa fa-truck"></i> Purchases</a>}
                else
                {<a href="~/purchaseorders/index"><i class="fa fa-truck"></i> Purchases</a>}
            }

            if (usergroup == "dept")
            {
                if (ViewBag.Section == "Dashboard")
                {<a class="active" href="~/Home/Dashboard"><i class="fa fa-list"></i> Dashboard</a>}
                else
                {<a href="~/Home/Dashboard"><i class="fa fa-list"></i> Dashboard</a>}

                if (ViewBag.Section == "Catalogue")
                {<a class="active" href="~/items/index"><i class="fas fa-pencil-alt"></i> Catalogue</a>}
                else
                {<a href="~/items/index"><i class="fas fa-pencil-alt"></i> Catalogue</a>}

                if (ViewBag.Section == "Requisitions")
                {<a class="active" href="~/requisition/index"><i class="fa fa-check-circle"></i> Requests</a>}
                else
                {<a href="~/requisition/index"><i class="fa fa-check-circle"></i> Requests</a>}

                if (usertype == "head")
                {
                    if (ViewBag.Section == "Delegate")
                    {<a class="active" href="~/departments/delegateauthority"><i class="fas fa-hand-point-right"></i> Delegate</a>}
                    else
                    {<a href="~/departments/delegateauthority"><i class="fas fa-hand-point-right"></i> Delegate</a>}
                }
                else if (usertype == "rep")
                {
                    if (ViewBag.Section == "Collections")
                    {<a class="active" href="~/home"><i class=""></i> Collections</a>}
                    else
                    {<a href="~/home"><i class=""></i> Collections</a>}
                }
            }
            else if (usergroup == "store")
            {
                if (ViewBag.Section == "Dashboard")
                {<a class="active" href="~/dashboard/Dashboard"><i class="fa fa-list"></i> Dashboard</a>}
                else
                {<a href="~/dashboard/index"><i class="fa fa-list"></i> Dashboard</a>}

                if (ViewBag.Section == "Inventory")
                {<a class="active" href="~/inventory/index"><i class="fa fa-cubes"></i> Inventory</a>}
                else
                {<a href="~/inventory/index"><i class="fa fa-cubes"></i> Inventory</a>}

                if (ViewBag.Section == "Requisitions")
                {<a class="active" href="~/requisition/index"><i class="fa fa-check-circle"></i> Requisitions</a>}
                else
                {<a href="~/requisition/index"><i class="fa fa-check-circle"></i> Requisitions</a>}

                if (ViewBag.Section == "Disbursements")
                {<a class="active" href="~/disbursement/index"><i class="fa fa-exchange"></i> Disbursements</a>}
                else
                {<a href="~/disbursement/index"><i class="fa fa-exchange"></i> Disbursements</a>}

                if (ViewBag.Section == "Departments")
                {<a class="active" href="~/departments/index"><i class="fa fa-users"></i> Departments</a>}
                else
                {<a href="~/departments/index"><i class="fa fa-users"></i> Departments</a>}

                if (ViewBag.Section == "Purchases")
                {<a class="active" href="~/purchaseorders/index"><i class="fa fa-truck"></i> Purchases</a>}
                else
                {<a href="~/purchaseorders/index"><i class="fa fa-truck"></i> Purchases</a>}

                if (ViewBag.Section == "Analytics")
                {<a class="active" href="~/analytics/index"><i class="fa fa-bar-chart"></i> Analytics</a>}
                else
                {<a href="~/analytics/index"><i class="fa fa-bar-chart"></i> Analytics</a>}
            }
        }
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - SSIMS</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
