@model SSIMS.ViewModels.RequisitionItemVM
@using SSIMS.ViewModels;

@{
    List<RequisitionItemVM> requisitionItems = ViewBag.RequisitionItems;
}


<p style="margin:50px">    </p>
@using (Html.BeginForm("SubmitRequisition", "Requisition"))
{
    @Html.AntiForgeryToken()

    <table id="tblCust" class="table table-bordered">
        <tr>
            <th>Category</th>
            <th>Description</th>
            <th>Unit of Measure</th>
            <th>Quantity</th>
        </tr>
        @foreach (RequisitionItemVM rivm in requisitionItems)
        {
            if (rivm.Quantity != 0)
            {
                <tr>
                    <td>@rivm.SelectedCategory</td>
                    <td>@rivm.displayDescription</td>
                    <td>@rivm.UnitOfMeasure</td>
                    <td>@rivm.Quantity</td>
                </tr>
            }
        }
    </table>
    @*<p>Commments: @Html.TextBox("comments", (String)ViewBag.comments)</p>*@

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
<p style="text-align:right"> <input type="submit" value="Submit" style="direction:rtl" class="btn btn-primary" /></p>
} 