@model  List<SSIMS.ViewModels.AdjustmentVoucherVM>
@using SSIMS.ViewModels
@{
    ViewBag.Header = "Adjustment Vouchers";
    ViewBag.Section = "Inventory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table class="table" style="width:1000px;">
    <tr style="font-weight:bold;background-color:#4c7d7d;color:white">
        <td align="center">
            @Html.DisplayNameFor(Model => Model[0].AdjustmentID)
        </td>
        <td align="center">
            @Html.DisplayNameFor(Model => Model[0].ReportedByStaffName)
        </td>
        <td align="center">
            @Html.DisplayNameFor(Model => Model[0].DateCreated)
        </td>
        <td align="center">
            @Html.DisplayNameFor(Model => Model[0].Status)
        </td>
        <td align="center">
            Action
        </td>
    </tr>
    @for (int i = 0; i < Model.Count(); i++)
    {
<tr @if (Model[i].Status == "Pending") { @Html.Raw("style='background-color:rgba(252, 182, 122, 0.30)'") ; }>
    <td align="center">
        @Html.DisplayFor(Model => Model[i].AdjustmentID)
    </td>
    <td align="center">
        @Html.DisplayFor(Model => Model[i].ReportedByStaffName)
    </td>
    <td align="center">
        @Html.DisplayFor(Model => Model[0].DateCreated)
    </td>
    <td align="center">
        @Html.DisplayFor(Model => Model[i].Status)
    </td>
    <td align="center">
        @Html.ActionLink("View", "Adjustment", new { id = Model[i].AdjustmentID })
    </td>
</tr>
    }

</table>
<span style="color:rgba(252, 182, 122, 0.30)"></span>
