@model SSIMS.ViewModels.InventoryItemDetailsVM

@{
    ViewBag.Section = "Inventory";
    ViewBag.Header = "Item Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
   <div id="item-information" style="margin:20px 20px 5px 20px">
       <table style="font-size:18px">
           <tr>
               <td colspan="2" align="center" height="50px" style="font-size:22px">Item Information</td>
               <td align="center"> navigation with index </td>
           </tr>
           <tr>
               <td align="center" width="200px" height="30px">@Html.DisplayNameFor(model => model.ItemCode)</td>
               <td align="center" width="400px">@Html.DisplayFor(model => model.ItemCode)</td>
               <td rowspan="4" align="center" valign="middle" width="300px"><img src=@Url.Content(Model.ImageURL) style="width:300px;border:ridge" /></td>
           </tr>
           <tr>
               <td align="center" height="30px">@Html.DisplayNameFor(model => model.Category)</td>
               <td align="center">@Html.DisplayFor(model => model.Category)</td>
           </tr>
           <tr>
               <td align="center" height="30px">@Html.DisplayNameFor(model => model.Description)</td>
               <td align="center">@Html.DisplayFor(model => model.Description)</td>
           </tr>
           <tr>
               <td align="center" height="30px">@Html.DisplayNameFor(model => model.UOM)</td>
               <td align="center">@Html.DisplayFor(model => model.UOM)</td>
           </tr>
       </table>
   </div>
    <div id="stock-details">

    </div>
    <div id="supplier-information">

    </div>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
