@model IEnumerable<SSIMS.Models.Supplier>

@{
    ViewBag.Title = "Suppliers";
    ViewBag.Header = "Suppliers";
    ViewBag.Section = "Suppliers";
}
<style>
    th,td{
        text-align:center;
    }
</style>

@if (ViewBag.staffrole == "Supervisor" || ViewBag.staffrole == "Manager")
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<table class="table">
    <tr>
        <th>Supplier ID</th>
        <th><i class="fas fa-store-alt"></i> &nbsp; Supplier Name</th>
        <th><i class="fa fa-phone"></i> &nbsp; Phone Number</th>
        <th><i class="fas fa-fax"></i> &nbsp; Fax Number</th>
        <th>Details</th>
        <th>Action</th>
    </tr>
    @foreach (var supplier in Model)
    {
        <tr>
            <td> @Html.DisplayFor(x => supplier.ID)</td>
            <td> @Html.DisplayFor(x => supplier.SupplierName)</td>
            <td> @Html.DisplayFor(x => supplier.PhoneNumber)</td>
            <td> @Html.DisplayFor(x => supplier.FaxNumber)</td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = supplier.ID })
            </td>
            <td>
                @if (ViewBag.staffrole == "Supervisor" || ViewBag.staffrole == "Manager")
                {
                    @Html.ActionLink("Edit", "Edit", new { id = supplier.ID })
                }
            </td>
        </tr>
    }
</table>